### Basic paradigm

1. Take input from user
2. Do some useful processing
3. Give some output

### Giving some output using the print function

In [1]:
print("This is something I want to be printed")

print(10)

print(10.5)

This is something I want to be printed
10
10.5

### Comments

- Use `#` to comment a line
- These lines do not execute

### Variables

In [2]:
# Assign the value 10 to the variable whose name is x
# 10 is an integer number
x = 10

# Assign the value 10.5 to the variable whose name is y
# 10.5 is float number
y = 10.5

# Assign the value "Rahul" to the variable whose name is x
name = "Rahul"

In [3]:
print(x)

10

In [4]:
print(10)

10

### What not to name your variables

- Python keywords

```python

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not                 

help> 
```

The following variables names will not work

In [1]:
False = 1

SyntaxError: cannot assign to False (1429262388.py, line 1)

In [2]:
for = "alpha"

SyntaxError: invalid syntax (997967751.py, line 1)

In [3]:
if = 10.5

SyntaxError: invalid syntax (282590606.py, line 1)

In [4]:
1 = 2

SyntaxError: cannot assign to literal (690182220.py, line 1)

In [6]:
1x = 2

SyntaxError: invalid syntax (2079796758.py, line 1)

### The following will work

In [7]:
x1 = 2

In [8]:
x_1 = 2

In [9]:
print(x1)

2

In [10]:
print(x_1)

2

### Case is important -- upper and lowercase are different variables

In [11]:
X = 4
x = 3

### Use "good" names for variables

In [12]:
# Important to use useful variable names
first_number = 1
second_number = 10

print(first_number + second_number)

11

### Types

In [13]:

# Integers
x = 10
y = -10

# Booleans
a = True
b = False

# Float
x = 10.5
y = -10.34634767


# Strings

name = "alpha"
second = "beta"

### Functions

In [ ]:
# f is the name of the function
# x is the input
# output is the sine of x
# f(x) = sin(x)

In [15]:
### type function

# type is the name of the function
# 10 is the input
# output is the data type of 10
print(type(10))

<class 'int'>

In [20]:
print(type(10))

print(type(10.5))

print(type("Hello"))

print(type(False))

print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [18]:
x = 10


"""

# First get the value of x

print(type(10))

# Next, find type(10)

print(class int)

# Finally print class int to the console
"""

print(type(x))

<class 'int'>

```
Evalaute sin(cos(x)) at x = pi/2

1. sin(cos(pi/2))
2. sin(0)
3. 0
```

In [26]:
# There is no limit to the size of an integer
# Refer to: help> INTEGER

print(type(1000000000000000000000000000000000000000000000000000000000))

<class 'int'>

In [27]:
complex_num = 3 + 0.5j

In [28]:
complex_num

(3+0.5j)

In [29]:
complex_num.real

3.0

In [30]:
complex_num.imag

0.5

### Type conversion

In [31]:

x = "100"
print(type(x))

<class 'str'>

In [35]:
# We have a function
# name: int
# input to the function: 100
# output from function: tries to convert the input to an integer

x = "100"
y = int(x)
print(x)
print(type(x))

print("-"*20)

print(y)
print(type(y))

100
<class 'str'>
--------------------
100
<class 'int'>

In [36]:
### int() may fail

In [37]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [38]:
z = float("10.56")
print(type(z))

<class 'float'>

In [39]:
print(z)

10.56

In [40]:
y = int()
print(y)

0

In [44]:
int(float("10.61"))

10

In [46]:
int(float("10.61"))

10

In [47]:
int(float("10.61"))

10

In [49]:
a = 10
b = str(a)
print(type(b))

<class 'str'>

### Finding number of digits in a number

In [54]:
x = 12373626527645726457264527634
y = str(x)

In [55]:
print(y)

12373626527645726457264527634

In [56]:
e = "Hello"
print(len(e))

5

In [57]:
print(len(y))

29

In [58]:
len(10)

TypeError: object of type 'int' has no len()

In [59]:
val = 10.56

In [60]:
str_val = str(val)

In [61]:
print(str_val)

10.56

In [62]:
print(len(str_val))

5

In [64]:
len(str_val)

AttributeError: 'str' object has no attribute 'len'

### Mathematical Operations

In [65]:
x = 10
y = 5

z = x - y
print(z)

5

In [66]:
x = 2
y = 5

z = x ** y # x raised to the power y
print(z)

32

In [67]:
x = 2
y = 5

z = x / y # x divided y
print(z)

0.4

In [70]:
x = 2
y = 5

z = x // y # x divided y (floor)
remainder = x%y
print(z)
print(remainder)

0
2

In [71]:
### 2 = 5 * 0 + 2

### Modulus operator

In [74]:
print(1 % 2)

# 1 = 2 * 0 (integer) + 1 (remainder)

print(2 % 2)
# 2 = 2 * 1 (integer) + 0 (remainder)

print(3 % 2)
# 3 = 2 * 1 (integer) + 1 (remainder)


print(x % y)
# x = y * b + remainder

1
0
1

### Operator Precedence

Can figure by invoking `help` and then writing OPERATORS

```python
help>OPERATORS

Operator precedence
*******************

The following table summarizes the operator precedence in Python, from
lowest precedence (least binding) to highest precedence (most
binding).  Operators in the same box have the same precedence.  Unless
the syntax is explicitly given, operators are binary.  Operators in
the same box group left to right (except for exponentiation, which
groups from right to left).

...
```

In [75]:

x = 1+2**3/4*5

# Operators we have are:
# +
# **
# /
# *

# In decreasing precedence we have
# **
# / *
# +

x = 1+(2**3)/4*5
x = 1+8/4*5

# Option 1
# x = 1+(8/4)*5

# option 2
# x = 1+8/(4*5)

# since we have left to right precedence

x = 1+(8/4)*5
x = 1+2*5

x = 1+(2*5)
x = 1 + 10
x = 11

In [76]:
x = 1+2**3/4*5
print(x)

11.0

In [77]:
# Ideal way

x = 1 + ((2**3)/4)*5

In [78]:
x = 11/2
print(x)

5.5

In [79]:
x = 11//2

print(x)

5