### Revision

- A string is a sequence of characters
- For example: "Hello" is a sequence of characters: 'H', 'e', 'l', 'l', 'o'

### Defining/Creating Strings

In [6]:
# Some ways of defining/creating strings we have already seen

# 1. Define a string variable

s = "Hello"
print(s)
print(type(s))

Hello
<class 'str'>

In [8]:
# 2. Get user input

x = input()
print(x)
print(type(x))

7,9,19,19,12,23
7,9,19,19,12,23
<class 'str'>

In [11]:
y = x.split(",")
z = []
for num in y:
    z.append(int(num))
z

[7, 9, 19, 19, 12, 23]

In [14]:
y

['7', '9', '19', '19', '12', '23']

In [16]:
sum(map(int, y))

89

In [17]:
# 3. Use str() method 

x = 10
x_str = str(x)
print(x, type(x))
print(x_str, type(x_str))

10 <class 'int'>
10 <class 'str'>

In [18]:
# 4. Concatenating existing string

x1 = "Hello"
x2 = " "
x3 = "World"

y = x1 + x2 + x3
print(y)
print(type(y))

Hello World
<class 'str'>

In [22]:
# 5. Repeating a string using *

x = "Name "
y = x*5
#print(y)


x = "*"
print(x*5)
print(x*4)
print(x*3)

*****
****
***

In [23]:
# 6. Use format (f) strings

name = 'Ramanujan'
age = 60
subject = 'Maths'

out = f"My name is {name}. I am {age} years old. My favourite subject is {subject}."
print(out)
print(type(out))

My name is Ramanujan. I am 60 years old. My favourite subject is Maths.
<class 'str'>

In [25]:
x = "My name is " + name + ". I am " + str(age) + "year old. My"
print(x)

My name is Ramanujan. I am 60year old. My

In [26]:
# Question: Given a list of subjects. Print: Subject Name: SUBJECT


subjects = ['maths', 'english', 'science']

# Method 1
for subject in subjects:
    print("Subject name: "+subject)
    
print("*"*20)

    
# Method 2
for subject in subjects:
    print(f"Subject name: {subject}")

Subject name: maths
Subject name: english
Subject name: science
********************
Subject name: maths
Subject name: english
Subject name: science

In [53]:
number = 4125.6
print(f"Number is: {number:.2f}")

number = 5.136
print(f"Number is: {number:.2f}")

number = 10000000000.239
print(f"{number:,.2f}")

number = 65.452
print(f"{number:5.2f}")
print(f"{number:6.2f}")
print(f"{number:7.2f}")
print(f"{number:07.2f}")
print(f"{number:7.2f}")
print(f"{number:3.2f}")

print(f"{number:.0%}")

Number is: 4125.60
Number is: 5.14
10,000,000,000.24
65.45
 65.45
  65.45
0065.45
  65.45
65.45
6545%

In [49]:
num = 1000

print(f"{num:04d}")

print(f"{num:,}")

1000
1,000

In [56]:
s = "Python"

print(f"{s}")
print(f"{s:>10}")

Python
    Python

### String Indexing

- Similar to lists
- Counting/Indexing starts from 0 and goes till length of string - 1

In [6]:
s = "Hello"
print(s[0])

H

### `len()`

- Similar to lists
- Gives the length of a string

In [57]:
s = "Hello"
l = len(s)
print(f"Length of {s} is {l}")

Length of Hello is 5

### Looping

In [58]:
# Write a program to print a character of a string in different line

## Use a for loop

s = "Hello"

for character in s:
    print(character)

H
e
l
l
o

In [59]:
## Use a while loop

s = "Hello"
l = len(s)

i = 0
while i < l:
    print(s[i])
    i = i +1

H
e
l
l
o

In [60]:
# Write a program to print a character of a string in different line along with index:
# Index: 0, Character: H

## Using while loop

s = "Hello"
l = len(s)

i = 0
while i < l:
    print(f"Index {i}, Character: {s[i]}")
    i = i +1

Index 0, Character: H
Index 1, Character: e
Index 2, Character: l
Index 3, Character: l
Index 4, Character: o

In [23]:
## Using for loop with enumerate

s = "hello"
l = len(s)

for i in range(0, l, 1):
    print(f"Index {i}, Character: {s[i]}")

Index 0, Character: h
Index 1, Character: e
Index 2, Character: l
Index 3, Character: l
Index 4, Character: o

In [61]:
## Using for loop with enumerate

# For loop doesn't give us the index
# This is advanced and will not be in exams
# we use enumerate

for i, character in enumerate(s):
    print(f"Index {i}, Character: {character}")

Index 0, Character: H
Index 1, Character: e
Index 2, Character: l
Index 3, Character: l
Index 4, Character: o

In [24]:
## Looping and Filtering

# Q: Count the number of times a character occurs in a string using while loop

character_search = 'a'
count = 0

s = "a good time is a time when you are grateful and count your blessings"

i = 0
length = len(s)

while i < length:
    if s[i] == character_search:
        count = count + 1
    
    i = i +1
print(count)

5

In [62]:
# Q: Count the number of times a character occurs in a string using for loop

character_search = 'a'
count = 0

s = "a good time is a time when you are grateful and count your blessings"

for c in s:
    if c == character_search:
        count = count + 1
print(count)

5

###  x `in` y

- Returns True of False depending on whether x is a substring of y
- "h" is a substring of "hello"
- "ll" is a substring of "hello"
- "H" is NOT a substring of "hello"

In [30]:
ss = "he"

s = "Shed"

print(ss in s)

True

In [31]:
ss = "eda"
s = "Shed"
print(ss in s)

False

### string.find(substring)
Return index/position of **first** occurence of substring in string, else returns -1 if substring not in string

In [63]:
ss = "H"

s = "His name is Himanshu"

print(s.find(ss))

0

In [64]:
print(s.find("i"))

1

In [65]:
print(s.find("is"))

1

In [66]:
print(s.find("ist"))

-1

### Slicing string

- Similar to Lists slicing

In [67]:
s = "Hello World"

print(s[1:3])

el

In [69]:
s = "Hello World"

print(s[1:3:-1])

In [33]:
print(s[0:4])

Hell

In [34]:
print(s[:4])

Hell

## String library

### lower() and upper()

- Given a string x, x.lower() **returns** a lower case version of the string. The conversion is not implicit, so x remains the same.

In [71]:
x = "HELLo World"
y = x.lower()
print(y)

hello world

In [36]:
xl = x.lower()
print(xl)

'hello world'

In [37]:
x

'HELLo World'

In [72]:
xu = x.upper()
print(xu)

HELLO WORLD

In [41]:
x

'HELLo World'

### islower() and isupper()

- Check if a string is lower case or upper case.
- All characters must be lower case for isupper to return True

In [73]:
x

'HELLo World'

In [74]:
x.islower()

False

In [75]:
x.isupper()

False

In [76]:
"hello".islower()

True

In [77]:
"HELLO".islower()

False

In [78]:
"HELLO".isupper()

True

### split()

- Split a string based on a defined delimiter/character into a list of strings

In [55]:
x = "Alpha,Beta,Gamma,Delta"

y = x.split(",")
print(y)
print(len(y))

['Alpha', 'Beta', 'Gamma', 'Delta']
4

In [56]:
x = "Alpha Beta Gamma Delta"

y = x.split(" ")
print(y)
print(len(y))

['Alpha', 'Beta', 'Gamma', 'Delta']
4

In [57]:
# Q: Take inputs separated by , from a user and find the sum of these numbers

x = input()

3,4,5,6,7,8,10
3,4,5,6,7,8,10

In [58]:
print(x)

3,4,5,6,7,8,10

In [59]:
print(type(x))

<class 'str'>

In [60]:
list_of_nums = x.split(",")
print(list_of_nums)

['3', '4', '5', '6', '7', '8', '10']

In [61]:
print(list_of_nums[0], type(list_of_nums[0]))

3 <class 'str'>

In [62]:
actual_list_numbers = []
for s in list_of_nums:
    actual_list_numbers.append(int(s))
print(actual_list_numbers)

[3, 4, 5, 6, 7, 8, 10]

In [67]:
print(actual_list_numbers[0], type(actual_list_numbers[0]))

3 <class 'int'>

In [68]:
print(f"Sum of numbers is {sum(actual_list_numbers)}")

Sum of numbers is 43

### strip()

- Removes whitespace

In [79]:
x = " Hello "
y = x.strip()
print(len(x), x)
print(len(y), y)

7  Hello
5 Hello

In [80]:
# Q: Take inputs separated by , 
# from a user and find the sum of these numbers, but user can accidentally put space after comma

x = input()

3, 5,6,7

In [81]:
print(x)

3, 5,6,7

In [82]:
z = x.split(",")
print(z)
# Notice 5 has an extra space before it

['3', ' 5', '6', '7']

In [84]:
z[1], len(z[1])

(' 5', 2)

In [78]:
int(z[1].strip())

5

In [85]:
int(" 10")

10

### string.replace(old, new)

- replaces all occurences of old substring in string with new

In [86]:
x = "This is a good question. But, all good things come with some surprises."

In [87]:
y = x.replace("is", "IS")
print(y)

ThIS IS a good question. But, all good things come with some surprISes.

In [88]:
z = x.replace("good", "**GOOD**")
print(z)

This is a **GOOD** question. But, all **GOOD** things come with some surprises.

In [89]:
y = x.replace("good", "")
print(y)

This is a  question. But, all  things come with some surprises.

Print the following pattern

```
*
**
***
****
```

In [49]:
# using for loop
# Main idea: ith row has i stars

n = 4
for i in range(n+1):
    print("*"*i)

*
**
***
****

In [50]:
# using while loop
# Main idea: ith row has i stars

n = 4
i = 0
while i <=n:
    print("*"*i)
    i = i + 1

*
**
***
****

Print the following pattern

```
*****
***
**
*
```

In [52]:
# using for loop
# Main idea: ith row has n - i stars

n = 4
for i in range(n+1):
    print("*"*(n-i))

****
***
**
*

In [97]:
# Q: Assume all usernames here are firstname.lastname@iitgn.ac.in. 
# given an input, print "Hello firstname lastname. Your email id is: ..."


email_id = "nipun.batra@iitgn.ac.in"
split_at = email_id.split("@")
print(split_at)

['nipun.batra', 'iitgn.ac.in']

In [98]:
user_part = split_at[0]
print(user_part)

nipun.batra

In [99]:
names = user_part.split(".")
print(names)

['nipun', 'batra']

In [100]:
fn = names[0]
ln = names[1]

In [101]:
print(fn)

nipun

In [102]:
greeting = f"Hello {fn} {ln}. Your email id is: {email_id}"
print(greeting)

Hello nipun batra. Your email id is: nipun.batra@iitgn.ac.in

### Immutability of strings

In [90]:
x = "hello"

In [91]:
x[0] = "a"

TypeError: 'str' object does not support item assignment

In [94]:
y = list(x)
y[0] = 'a'
y

new_string = ""
for c in y:
    new_string = new_string + c
new_string

'aello'

In [96]:
y

['a', 'e', 'l', 'l', 'o']

In [95]:
"".join(y)

'aello'

In [97]:
"-".join(y)

'a-e-l-l-o'

In [4]:
y = list(x)
y[0] = "a"
"".join(y)

'aello'

In [98]:
x
x = "a" + x[1:]

'hello'

In [5]:
x = "a" + x[1:]
x

'aello'

### References

1. https://fstring.help/cheat/
2. https://stackoverflow.com/questions/1228299/changing-one-character-in-a-string