### Print first N natural numbers

In [3]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [4]:
n = 5

num = 1
while num <= n:
    print(num)
    num = num + 1

1
2
3
4
5

In [ ]:
### While v/s If

In [5]:
n = 5

num = 1
while num <= n:
    print(num)
    num = num + 1
print("Done with while")

1
2
3
4
5
Done with while

In [6]:
n = 5

num = 1
if num <= n:
    print(num)
    num = num + 1
print("Done with if")

1
Done with if

### While loop

```
Initialise looping variable

while condition (on looping variable):
    Do something
    change looping variable
    Do something
```

In [ ]:
n = 5

# Init the looping variable num to 1
num = 1

# Check the condition (which depends on looping var)
while num <= n:
    # Do something ...
    print(num)
    # Modify the value of the looping variable
    num = num + 1
    # Do something ...

In [7]:
## Print odd numbers from 1, 3, ... N

n = 11

num = 1
while num <=n:
    print(num)
    
    num = num + 2

1
3
5
7
9
11

In [9]:
n = 11

num = 1
while num <=n:
    if num%2 == 1:
        print(num)
    
    num = num + 1

1
3
5
7
9
11

In [10]:
### 
# 1 2 4 8 16 32 2^N

n = 5

# Init the looping variable num to 0 as 2^0 
# is 1 which is the first term
num = 0

# Check condition
while num<=n:
    # Print
    print(2**num, end=" ")
    
    # Modify looping var
    num = num + 1

1 2 4 8 16 32

In [23]:

s = 0

# natural number
nat = 1

# total numbers we are considering
n = 4

while nat <=n:
    s = s + nat
    nat = nat + 1
print(s)

10

In [ ]:
# What is sum of first 4 natural 
# numbers in terms of sum of first 3 natural numbers

In [ ]:
s_0 = 0
s_1 = s_0 + 1
s_2 = s_1 + 2
s_3 = s_2 + 3
s_4 = s_3 + 4

In [18]:
print(n*(n+1)//2)

10

In [20]:
sum(range(1, n+1, 1))

10

In [25]:
### Factorial


p = 1

# natural number
nat = 1

# total numbers we are considering
n = 10

while nat <=n:
    p = p * nat
    nat = nat + 1
print(p)

3628800

In [26]:
import math
math.factorial(n)

3628800

In [30]:
### Factorial


p = 1

# natural number
nat = 1

# total numbers we are considering
n = 10

while nat <=n:
    p = p * nat
    print(f"{nat}!={p}")
    nat = nat + 1

1!=1
2!=2
3!=6
4!=24
5!=120
6!=720
7!=5040
8!=40320
9!=362880
10!=3628800

In [37]:
n = 5

s = 1

o = 1
# count of odd numbers I have seen thus far
count = 1

while count<n:
    o = o + 2
    s = s + o
    print(f"Odd number:{o}, Sum till now: {s}")
    count = count + 1
print(s)

Odd number:3, Sum till now: 4
Odd number:5, Sum till now: 9
Odd number:7, Sum till now: 16
Odd number:9, Sum till now: 25
25

In [ ]:
#    print(str(nat)+"!="+str(p))

In [2]:
i = 1
n = 5

while i<=n:
    j = 1
    while j <=n:
        print(i, "*", j, "= ", i*j, sep='', end=' ')
        j = j +1
    print()
    i = i +1

1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5= 10
3*1= 3 3*2= 6 3*3= 9 3*4= 12 3*5= 15
4*1= 4 4*2= 8 4*3= 12 4*4= 16 4*5= 20
5*1= 5 5*2= 10 5*3= 15 5*4= 20 5*5= 25